.sidebar__cart {
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 999;
    top: 0;
    left: 100%;
    transition:left .5s, background 1.5s ;
    
    .close__btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &__main {
        max-width: 45rem;
        height: 100vh;
        background-color: $light;
        margin-left: auto;

        padding:  7rem 2rem 3rem;
        h3 {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .order__block {
            margin: 1rem 0 2rem;
            border-bottom: 1px solid #f2f2f2;
            display: flex;
            justify-content: space-between;
            h4 {
                font-weight: bold;
            }
        }

        .order__total {
            display: flex;
            justify-content: space-between;
            h5 {
                font-size: 2.5rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            p {
                align-self: center;
                font-weight: bold;
            }
        }
    }
} 


.sidebar__cart.open {
   
    left: 0;
}