.bestseller {
  min-height: 100vh;
  &__main {
    button.slick-arrow {
      display: none !important;
    }
  }
  &__item {
    min-height: 75vh;
  }
  &__item__grid {
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    @include media-query($mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item__img {
    img {
      width: 100%;
      height: 70rem;
      object-fit: cover;
      @include media-query($mobile) {
        height: 40rem;
      }
    }
  }

  &__item__content {
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
      max-width: 70rem;
      @include media-query($mobile) {
        padding: 1rem;
      }

      h2 {
        font-size: 4rem;
        font-weight: 800;
      }
      .rating {
        display: flex;
        margin: 1rem 0 2rem;
        li {
          margin-right: 0.5rem;
          color: $yellow;
        }
      }

      .description {
        margin-bottom: 3rem;
        max-width: 43rem;
        line-height: 1.6;
        text-align: justify;
      }
    }
  }

  .metadata {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-bottom: 2rem;
    li {
      display: flex;
      align-items: center;
      svg {
        margin-right: 1rem;
        font-size: 2rem;
      }
    }
  }

  &__nav {
    width: 60vw;
    margin: 0 auto;
    padding: 2rem 0;
    @include media-query($mobile) {
      width: 75vw;
    }
    .slick-list {
      padding: 0 !important;
    }
  }

  &__navItem {
    display: flex;
    cursor: pointer;
    padding: 2rem;
    img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      margin: 0 auto 1rem;
      transition: 0.5s ease;
      border-radius: 50%;
    }
    h2 {
      text-align: center;
    }
  }
  &__navItem:hover {
    img {
      transform: scale(1.1);
    }
  }
}

// SLICK SLIDER

.slick-prev::before {
  // font-family: "Font Awesome 5 Free";
  content: "\2190";
  font-size: 3rem;
  color: $orange;
  display: block;
  @include media-query($mobile) {
    font-size: 2rem;
  }
}
.slick-next::before {
  // font-family: "Font Awesome 5 Free";
  content: "\2192";
  font-size: 3rem;
  color: $orange;
  display: block;
  @include media-query($mobile) {
    font-size: 2rem;
  }
}

.slick-next,
.slick-prev {
  top: 50px;
}
